
body
{
font-family: 'Open Sans', sans-serif;
background-image: linear-gradient(to top, rgba(251, 194, 235, 0.596) 0%, rgba(166, 192, 238, 0.514) 100%), url(img/pawel-czerwinski-vI5XwPbGvmY-unsplash.jpg);
margin: auto;
}

h1{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}
pre{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 23px;
}
